
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 161.4rem;
}.frame-yrf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-yrf .auto-group-pjmd-N87 {
  margin-right: 2.2rem;
  width: 159.2rem;
  height: 6.4rem;
  position: relative;
  background-color: #212731;
  flex-shrink: 0;
}
.frame-yrf .auto-group-pjmd-N87 .image-X2w {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  left: 128.2rem;
  top: 1.9rem;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-pjmd-N87 .rectangle-dLs {
  width: 25.8rem;
  height: 3.7rem;
  position: absolute;
  left: 48rem;
  top: 1.4rem;
  border: solid 0.1rem #e1e4e6;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-pjmd-N87 .image-V8B {
  width: 2.0354rem;
  height: 2.0353rem;
  position: absolute;
  left: 49.025rem;
  top: 2.025rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-pjmd-N87 .categories-Ak7 {
  width: 7.3rem;
  height: 2rem;
  position: absolute;
  left: 81.7rem;
  top: 2.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #d1d6da;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-pjmd-N87 .website-builders-qLT {
  width: 11.1rem;
  height: 2rem;
  position: absolute;
  left: 94.3rem;
  top: 2.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #d1d6da;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-pjmd-N87 .todays-deals-tZd {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 113.8rem;
  top: 2.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #d1d6da;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR {
  margin: 0rem 1.1rem 15.079rem 1.1rem;
  width: calc(100% - 2.2rem);
  height: 282rem;
  position: relative;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .rectangle-TPm {
  width: 102.4rem;
  height: 141.1rem;
  position: absolute;
  left: 27.3rem;
  top: 17.2rem;
  background-color: #fbfcfd;
}
.frame-yrf .auto-group-629m-mdR .rectangle-mvF {
  width: 159.2rem;
  height: 234.7rem;
  position: absolute;
  left: 0;
  top: 2.5rem;
  background-color: #fbfcfd;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Kgs {
  width: 102.4rem;
  height: 25.5rem;
  position: absolute;
  left: 27.4rem;
  top: 85.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-48f {
  width: 13.5rem;
  height: 11.8rem;
  position: absolute;
  left: 108.9rem;
  top: 85.1rem;
  background-color: #f3f9ff;
  border-radius: 0 0 1.2rem 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .item--9fu {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.4rem;
  top: 93.9rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame-yrf .auto-group-629m-mdR .item--9fu .vector-cJb {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .item--9fu .vector-uHh {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .item--9fu .vector-BW7 {
  margin-right: 0.2275rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .item--9fu .vector-LP1 {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .item--9fu .vector-Hp3 {
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .rectangle-zCf {
  width: 23.2rem;
  height: 4.8rem;
  position: absolute;
  left: 104.1rem;
  top: 104.1rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .builder-1-KVq {
  width: 5.3rem;
  height: 2rem;
  position: absolute;
  left: 35.95rem;
  top: 103.9rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .wixpro-72-inch-responsive-website-builder-comprehensive-digital-platform-creation-tool-streamlined-design-interface-for-professional-websites-and-online-stores-black-blue-S4f {
  width: 47.5rem;
  height: 7.2rem;
  position: absolute;
  left: 51.5rem;
  top: 87.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .wixpro-72-inch-responsive-website-builder-comprehensive-digital-platform-creation-tool-streamlined-design-interface-for-professional-websites-and-online-stores-black-blue-S4f .wixpro-72-inch-responsive-website-builder-comprehensive-digital-platform-creation-tool-streamlined-design-interface-for-professional-websites-and-online-stores-black-blue-S4f-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}

.frame-yrf .auto-group-629m-mdR .main-highlights-Qhd {
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 51.5rem;
  top: 94.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .what-you-get-receive-the-wixpro-website-builder-suite-access-to-premium-design-templates-an-extensive-library-of-widgets-and-apps-and-detailed-step-by-step-guides-hwd {
  width: 45.4rem;
  height: 7.2rem;
  position: absolute;
  left: 53.3rem;
  top: 98rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .download-6-ZU3 {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 31.6rem;
  top: 92.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .show-more-Huq {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 51.5rem;
  top: 107.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-93-mKD {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 113.2rem;
  top: 85.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .exceptional-qps {
  width: 7.7rem;
  height: 2rem;
  position: absolute;
  left: 111.7rem;
  top: 91.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-mCj {
  width: 3.7rem;
  height: 2.4rem;
  position: absolute;
  left: 113.8rem;
  top: 105.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .rectangle-fZ1 {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 25.2rem;
  top: 87.9rem;
  border: solid 0.1rem #e1e4e6;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-629m-mdR .item-3-kqM {
  width: 1.3rem;
  height: 2.8rem;
  position: absolute;
  left: 26.8rem;
  top: 88.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .rectangle-5cj {
  width: 33.3rem;
  height: 42.5rem;
  position: absolute;
  left: 28.9rem;
  top: 174.2rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-b5H {
  width: 6.9rem;
  height: 2.8rem;
  position: absolute;
  left: 30.9rem;
  top: 194.1rem;
  background-color: #f2f4f7;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-jSP {
  width: 10.7rem;
  height: 2.8rem;
  position: absolute;
  left: 38.2rem;
  top: 194.1rem;
  background-color: #f2f4f7;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-fqq {
  width: 29.2rem;
  height: 4.8rem;
  position: absolute;
  left: 30.9rem;
  top: 209.9rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .off-R4K {
  width: 5rem;
  height: 2rem;
  position: absolute;
  left: 31.7rem;
  top: 194.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .limited-time-ukB {
  width: 8.6rem;
  height: 2rem;
  position: absolute;
  left: 39rem;
  top: 194.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .webbuilder-1-Y2T {
  width: 10.2rem;
  height: 2.4rem;
  position: absolute;
  left: 37.6rem;
  top: 197.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-3996-dpb {
  width: 6.8rem;
  height: 2.8rem;
  position: absolute;
  left: 30.9rem;
  top: 205.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-4996-A3q {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 39rem;
  top: 206.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #9fa9b3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .off-UqD {
  width: 5.9rem;
  height: 2rem;
  position: absolute;
  left: 45rem;
  top: 206.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #ef4c5d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-deal-QTy {
  width: 7.6rem;
  height: 2.4rem;
  position: absolute;
  left: 41.75rem;
  top: 211rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .computer-modern-clasic-with-wix-support-Uyd {
  width: 25.7rem;
  height: 4.8rem;
  position: absolute;
  left: 30.9rem;
  top: 200.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .rectangle-CPq {
  width: 102.4rem;
  height: 43.6rem;
  position: absolute;
  left: 28.1rem;
  top: 114.7rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-i7H {
  width: 102.4rem;
  height: 15.5rem;
  position: absolute;
  left: 27.3rem;
  top: 0;
  background-color: #fbfcfd;
}
.frame-yrf .auto-group-629m-mdR .rectangle-rjH {
  width: 102.4rem;
  height: 0.1333rem;
  position: absolute;
  left: 27.3rem;
  top: 10.9667rem;
  background-color: #e1e4e6;
}
.frame-yrf .auto-group-629m-mdR .rectangle-QVu {
  width: 102.4rem;
  height: 0.1333rem;
  position: absolute;
  left: 27.3rem;
  top: 15.4667rem;
  background-color: #e1e4e6;
}
.frame-yrf .auto-group-629m-mdR .image-MAF {
  width: 1.72rem;
  height: 1.7917rem;
  position: absolute;
  left: 54.64rem;
  top: 12.6042rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-gyD {
  width: 1.7917rem;
  height: 1.6974rem;
  position: absolute;
  left: 27.4042rem;
  top: 12.6513rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Buy {
  width: 13.7rem;
  height: 2.5rem;
  position: absolute;
  left: 116rem;
  top: 12rem;
  border-radius: 1.6rem 0 0 0;
}
.frame-yrf .auto-group-629m-mdR .image-jAo {
  width: 1.35rem;
  height: 0.72rem;
  position: absolute;
  left: 127.875rem;
  top: 12.84rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .cdk-F99 {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 37rem;
  top: 139.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .rectangle-7x3 {
  width: 10.5rem;
  height: 3.6rem;
  position: absolute;
  left: 27.3rem;
  top: 17.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Tm1 {
  width: 13.8rem;
  height: 3.6rem;
  position: absolute;
  left: 39.8rem;
  top: 17.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Cib {
  width: 10.5rem;
  height: 3.6rem;
  position: absolute;
  left: 55.6rem;
  top: 17.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-86T {
  width: 13.2rem;
  height: 3.6rem;
  position: absolute;
  left: 68.1rem;
  top: 17.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-cGX {
  width: 12.6rem;
  height: 3.6rem;
  position: absolute;
  left: 83.3rem;
  top: 17.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-kNj {
  width: 14rem;
  height: 3.6rem;
  position: absolute;
  left: 97.9rem;
  top: 17.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-siF {
  width: 102.4rem;
  height: 25.5rem;
  position: absolute;
  left: 27.3rem;
  top: 28.3rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Byq {
  width: 13.6rem;
  height: 3.4rem;
  position: absolute;
  left: 26.7rem;
  top: 26.8rem;
  background-color: #ff7724;
  border-radius: 0 0.8rem 0.8rem 0;
}
.frame-yrf .auto-group-629m-mdR .image-J2s {
  width: 1.7917rem;
  height: 1.7083rem;
  position: absolute;
  left: 27.6042rem;
  top: 27.6042rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-pX1 {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 25.1rem;
  top: 31.5rem;
  background-color: #ffffff;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-629m-mdR .image-xdD {
  width: 0.9rem;
  height: 0.5rem;
  position: absolute;
  left: 60.6834rem;
  top: 51.85rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-tmm {
  width: 13.5rem;
  height: 11.8rem;
  position: absolute;
  left: 108.8rem;
  top: 28.3rem;
  background-color: #f3f9ff;
  border-radius: 0 0 1.2rem 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .image-cxf {
  width: 0.8689rem;
  height: 0.8426rem;
  position: absolute;
  left: 118.1805rem;
  top: 28.6787rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-AUP {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.3rem;
  top: 37.1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame-yrf .auto-group-629m-mdR .image-AUP .vector-fg3 {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-AUP .vector-1ju {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-AUP .vector-NKZ {
  margin-right: 0.2275rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-AUP .vector-iuD {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-AUP .vector-Ecf {
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .rectangle-PkT {
  width: 23.2rem;
  height: 4.8rem;
  position: absolute;
  left: 104rem;
  top: 47.3rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-6Py {
  width: 102.4rem;
  height: 25.5rem;
  position: absolute;
  left: 27.3rem;
  top: 55.8rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-deo {
  width: 12.5rem;
  height: 3.4rem;
  position: absolute;
  left: 26.7rem;
  top: 54.3rem;
  background-color: #ff7724;
  border-radius: 0 0.8rem 0.8rem 0;
}
.frame-yrf .auto-group-629m-mdR .image-Lp7 {
  width: 1.875rem;
  height: 1.7083rem;
  position: absolute;
  left: 27.5625rem;
  top: 55.1458rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-GBy {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 25.1rem;
  top: 59rem;
  border: solid 0.1rem #e1e4e6;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-ukj {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 25.1rem;
  top: 59rem;
  border: solid 0.1rem #e1e4e6;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-629m-mdR .image-o5R {
  width: 0.9rem;
  height: 0.5rem;
  position: absolute;
  left: 61.1834rem;
  top: 79.05rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-5od {
  width: 13.5rem;
  height: 11.8rem;
  position: absolute;
  left: 108.8rem;
  top: 55.8rem;
  background-color: #f3f9ff;
  border-radius: 0 0 1.2rem 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .image-zvb {
  width: 0.8689rem;
  height: 0.8426rem;
  position: absolute;
  left: 118.1805rem;
  top: 56.1787rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-81D {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.3rem;
  top: 64.7rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame-yrf .auto-group-629m-mdR .image-81D .vector-Fbd {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-81D .vector-bvP {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-81D .vector-X3M {
  margin-right: 0.2275rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-81D .vector-pYF {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-81D .vector-yg3 {
  margin-bottom: 0rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .rectangle-CHu {
  width: 23.2rem;
  height: 4.8rem;
  position: absolute;
  left: 104rem;
  top: 74.8rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .image-vzb {
  width: 0.8689rem;
  height: 0.8426rem;
  position: absolute;
  left: 118.1805rem;
  top: 83.7787rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-3ZR {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 111rem;
  top: 93.6rem;
  overflow: hidden;
}
.frame-yrf .auto-group-629m-mdR .image-Ae3 {
  width: 0.2021rem;
  height: 0.4801rem;
  position: absolute;
  left: 118.124rem;
  top: 143.1453rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-HTm {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.3rem;
  top: 151.5rem;
  overflow: hidden;
}
.frame-yrf .auto-group-629m-mdR .image-pTh {
  width: 0.8689rem;
  height: 0.8426rem;
  position: absolute;
  left: 118.1805rem;
  top: 170.5787rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-7hh {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.3rem;
  top: 179rem;
  overflow: hidden;
}
.frame-yrf .auto-group-629m-mdR .image-4N3 {
  width: 0.8689rem;
  height: 0.8426rem;
  position: absolute;
  left: 118.1805rem;
  top: 225.5787rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-Qgo {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.3rem;
  top: 234.1rem;
  overflow: hidden;
}
.frame-yrf .auto-group-629m-mdR .image-Wzj {
  width: 0.8689rem;
  height: 0.8426rem;
  position: absolute;
  left: 118.1805rem;
  top: 269.5787rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-TQB {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 112.3rem;
  top: 278rem;
  overflow: hidden;
}
.frame-yrf .auto-group-629m-mdR .rectangle-PYj {
  width: 102.4rem;
  height: 17.1rem;
  position: absolute;
  left: 31.7rem;
  top: 220.4rem;
  background-color: #fbfcfd;
}
.frame-yrf .auto-group-629m-mdR .rectangle-uX5 {
  width: 44.5rem;
  height: 5.2rem;
  position: absolute;
  left: 87.6rem;
  top: 224.5rem;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-3tB {
  width: 34.8rem;
  height: 5.2rem;
  position: absolute;
  left: 87.6rem;
  top: 224.5rem;
  background-color: #ffffff;
  border-radius: 1.2rem 0 0 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-zHd {
  width: 9.7rem;
  height: 5.2rem;
  position: absolute;
  left: 122.4rem;
  top: 224.5rem;
  background-color: #1b88f4;
  border-radius: 0 1.2rem 1.2rem 0;
}
.frame-yrf .auto-group-629m-mdR .rectangle-vh5 {
  width: 159.2rem;
  height: 45.2rem;
  position: absolute;
  left: 0;
  top: 236.8rem;
  background-color: #212731;
}
.frame-yrf .auto-group-629m-mdR .image-rqd {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 96.6rem;
  top: 247.7rem;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-629m-mdR .image-QcF {
  width: 1.35rem;
  height: 0.75rem;
  position: absolute;
  left: 111.275rem;
  top: 249.3764rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .best-website-builders-in-the-us-7Fm {
  width: 71.3rem;
  height: 6rem;
  position: absolute;
  left: 27.3rem;
  top: 3.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .advertising-disclosure-ouH {
  width: 14.8rem;
  height: 2rem;
  position: absolute;
  left: 57.3rem;
  top: 12.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .last-updated-Di7 {
  width: 9rem;
  height: 2rem;
  position: absolute;
  left: 30.1rem;
  top: 12.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item--ies {
  width: 0.7rem;
  height: 2rem;
  position: absolute;
  left: 39.6rem;
  top: 12.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .february-22-2020-S55 {
  width: 11.4rem;
  height: 2rem;
  position: absolute;
  left: 41.1rem;
  top: 12.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .top-relevant-YP1 {
  width: 8.6rem;
  height: 2rem;
  position: absolute;
  left: 118.3rem;
  top: 12.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #727d87;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .tools-opj {
  width: 3.6rem;
  height: 2rem;
  position: absolute;
  left: 28.9rem;
  top: 17.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .aws-builder-8MD {
  width: 7.5rem;
  height: 2rem;
  position: absolute;
  left: 41.4rem;
  top: 17.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .start-build-DNf {
  width: 6.5rem;
  height: 2rem;
  position: absolute;
  left: 57.2rem;
  top: 17.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .build-supplies-YA3 {
  width: 8.7rem;
  height: 2rem;
  position: absolute;
  left: 69.7rem;
  top: 17.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .tooling-Tno {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 84.9rem;
  top: 17.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .bluehosting-8tw {
  width: 7.5rem;
  height: 2rem;
  position: absolute;
  left: 99.5rem;
  top: 17.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .home-TgK {
  width: 3.7rem;
  height: 2rem;
  position: absolute;
  left: 27.8rem;
  top: 22.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #727d87;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .hosting-for-all-k9d {
  width: 9.2rem;
  height: 2rem;
  position: absolute;
  left: 34.7rem;
  top: 22.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .hosting-3eX {
  width: 5.2rem;
  height: 2rem;
  position: absolute;
  left: 47.3rem;
  top: 22.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #727d87;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .hosting6-mqR {
  width: 6rem;
  height: 2rem;
  position: absolute;
  left: 55.9rem;
  top: 22.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .hosting5-JaT {
  width: 6rem;
  height: 2rem;
  position: absolute;
  left: 65.3rem;
  top: 22.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .best-choice-DBd {
  width: 9.2rem;
  height: 2.4rem;
  position: absolute;
  left: 30.3rem;
  top: 27.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-1-ieB {
  width: 1rem;
  height: 2.8rem;
  position: absolute;
  left: 26.8rem;
  top: 32.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .builder-1-rEb {
  width: 5.3rem;
  height: 2rem;
  position: absolute;
  left: 35.85rem;
  top: 47.1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .wixpro-72-inch-responsive-website-builder-comprehensive-digital-platform-creation-tool-streamlined-design-interface-for-professional-websites-and-online-stores-black-blue-inb {
  width: 47.5rem;
  height: 7.2rem;
  position: absolute;
  left: 51.4rem;
  top: 30.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .wixpro-72-inch-responsive-website-builder-comprehensive-digital-platform-creation-tool-streamlined-design-interface-for-professional-websites-and-online-stores-black-blue-inb .wixpro-72-inch-responsive-website-builder-comprehensive-digital-platform-creation-tool-streamlined-design-interface-for-professional-websites-and-online-stores-black-blue-inb-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}

.frame-yrf .auto-group-629m-mdR .main-highlights-Uoh {
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 51.4rem;
  top: 38rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .what-you-get-receive-the-wixpro-website-builder-suite-access-to-premium-design-templates-an-extensive-library-of-widgets-and-apps-and-detailed-step-by-step-guides-bdR {
  width: 45.4rem;
  height: 7.2rem;
  position: absolute;
  left: 53.2rem;
  top: 41.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .download-1-dKD {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 31.5rem;
  top: 35.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .show-more-wao {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 51.4rem;
  top: 50.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-98-SXZ {
  width: 4.7rem;
  height: 4.8rem;
  position: absolute;
  left: 113.1rem;
  top: 28.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .exceptional-MuR {
  width: 7.7rem;
  height: 2rem;
  position: absolute;
  left: 111.6rem;
  top: 34.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-66K {
  width: 3.7rem;
  height: 2.4rem;
  position: absolute;
  left: 113.7rem;
  top: 48.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .best-value-aXH {
  width: 8rem;
  height: 2.4rem;
  position: absolute;
  left: 30.3rem;
  top: 54.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-2-t2B {
  width: 1.3rem;
  height: 2.8rem;
  position: absolute;
  left: 26.7rem;
  top: 59.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .biulder-oew {
  width: 4.6rem;
  height: 2rem;
  position: absolute;
  left: 35.4rem;
  top: 74.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .sitecraft-68-inch-ultimate-web-design-studio-advanced-site-creation-toolkit-intuitive-drag-and-drop-editor-for-dynamic-websites-and-e-commerce-platforms-green-white-68F {
  width: 48.1rem;
  height: 7.2rem;
  position: absolute;
  left: 51.4rem;
  top: 57.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .sitecraft-68-inch-ultimate-web-design-studio-advanced-site-creation-toolkit-intuitive-drag-and-drop-editor-for-dynamic-websites-and-e-commerce-platforms-green-white-68F .sitecraft-68-inch-ultimate-web-design-studio-advanced-site-creation-toolkit-intuitive-drag-and-drop-editor-for-dynamic-websites-and-e-commerce-platforms-green-white-68F-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}

.frame-yrf .auto-group-629m-mdR .main-highlights-WbH {
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 51.2rem;
  top: 65.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .what-you-get-gain-access-to-the-sitecraft-design-studio-featuring-a-robust-selection-of-design-elements-seo-optimization-tools-and-e-commerce-integrations-DEo {
  width: 44.8rem;
  height: 7.2rem;
  position: absolute;
  left: 53.4rem;
  top: 69.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .show-more-Gis {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 51.9rem;
  top: 78rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-95-A3Z {
  width: 4.7rem;
  height: 4.8rem;
  position: absolute;
  left: 113.1rem;
  top: 56.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .excellent-3d9 {
  width: 6rem;
  height: 2rem;
  position: absolute;
  left: 112.5rem;
  top: 61.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-yFu {
  width: 3.7rem;
  height: 2.4rem;
  position: absolute;
  left: 113.7rem;
  top: 75.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .related-deals-you-might-like-for-hSo {
  width: 47.4rem;
  height: 4.4rem;
  position: absolute;
  left: 28.1rem;
  top: 166.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.375;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .sign-up-and-get-exclusive-special-deals-cZm {
  width: 39.5rem;
  height: 8.8rem;
  position: absolute;
  left: 32.7rem;
  top: 223.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.375;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .sign-up-8Y7 {
  width: 5.7rem;
  height: 2rem;
  position: absolute;
  left: 124.4rem;
  top: 226.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.07rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .categories-emM {
  width: 9.9rem;
  height: 2.4rem;
  position: absolute;
  left: 28.4rem;
  top: 242.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .web-builder-xX9 {
  width: 7.4rem;
  height: 2rem;
  position: absolute;
  left: 28.4rem;
  top: 245.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .hosting-fgT {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 28.4rem;
  top: 249.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .data-center-khu {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 28.4rem;
  top: 253.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .robotic-automation-tZD {
  width: 12.4rem;
  height: 2rem;
  position: absolute;
  left: 28.4rem;
  top: 257.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .contact-AFq {
  width: 7.8rem;
  height: 2.4rem;
  position: absolute;
  left: 62.5rem;
  top: 242.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .contact-sg3 {
  width: 5.3rem;
  height: 2rem;
  position: absolute;
  left: 62.5rem;
  top: 245.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .privacy-policy-c7q {
  width: 9.2rem;
  height: 2rem;
  position: absolute;
  left: 62.5rem;
  top: 249.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .terms-of-service-51R {
  width: 11.4rem;
  height: 2rem;
  position: absolute;
  left: 62.5rem;
  top: 252.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .categories-XPD {
  width: 6.7rem;
  height: 2rem;
  position: absolute;
  left: 62.5rem;
  top: 256.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .about-E2j {
  width: 4rem;
  height: 2rem;
  position: absolute;
  left: 62.5rem;
  top: 260rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #b6bdc4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .united-states-xDd {
  width: 8.4rem;
  height: 2rem;
  position: absolute;
  left: 101.2rem;
  top: 248.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #d1d6da;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .vector-srP {
  width: 1rem;
  height: 0.8246rem;
  position: absolute;
  left: 32.7rem;
  top: 22.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .vector-CNs {
  width: 1rem;
  height: 0.8246rem;
  position: absolute;
  left: 63.3rem;
  top: 22.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .vector-XR9 {
  width: 1rem;
  height: 0.8246rem;
  position: absolute;
  left: 45.3rem;
  top: 22.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .vector-ekf {
  width: 1rem;
  height: 0.8246rem;
  position: absolute;
  left: 53.9rem;
  top: 22.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-oNf {
  width: 6.1rem;
  height: 2.6rem;
  position: absolute;
  left: 50.6rem;
  top: 123.5rem;
  background-color: #f2f4f7;
  border-radius: 0.4rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-jXD {
  width: 50.5rem;
  height: 11.6rem;
  position: absolute;
  left: 52.8rem;
  top: 128.7rem;
  background-color: #fff4ed;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-GX9 {
  width: 4rem;
  height: 2.8rem;
  position: absolute;
  left: 54rem;
  top: 129.5rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-kx7 {
  width: 4rem;
  height: 2.8rem;
  position: absolute;
  left: 54rem;
  top: 133.1rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-gas {
  width: 4rem;
  height: 2.8rem;
  position: absolute;
  left: 54rem;
  top: 136.7rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-yrf .auto-group-629m-mdR .image-RoM {
  width: 2.175rem;
  height: 2.175rem;
  position: absolute;
  left: 50.7rem;
  top: 145.225rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-MS7 {
  width: 2.175rem;
  height: 2.175rem;
  position: absolute;
  left: 50.7rem;
  top: 148.025rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .image-G3H {
  width: 2.175rem;
  height: 2.175rem;
  position: absolute;
  left: 50.7rem;
  top: 150.825rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-xwh {
  width: 13.5rem;
  height: 11.8rem;
  position: absolute;
  left: 110.2rem;
  top: 115.6rem;
  background-color: #f3f9ff;
  border-radius: 0 0 1.2rem 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .image-tqM {
  width: 6.6rem;
  height: 1.1rem;
  position: absolute;
  left: 113.8rem;
  top: 124.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame-yrf .auto-group-629m-mdR .image-tqM .vector-aiB {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-tqM .vector-LBZ {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-tqM .vector-rvb {
  margin-right: 0.2275rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-tqM .vector-ces {
  margin-right: 0.2276rem;
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .image-tqM .vector-AwH {
  width: 1.1379rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Jnb {
  width: 23.2rem;
  height: 4.8rem;
  position: absolute;
  left: 105.5rem;
  top: 150.8rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .cdk-resposive-builder-an-extensive-library-of-widgets-and-apps-and-detailed-step-by-step-guides-EAT {
  width: 50rem;
  height: 4.8rem;
  position: absolute;
  left: 50.6rem;
  top: 117.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .cdk-resposive-builder-an-extensive-library-of-widgets-and-apps-and-detailed-step-by-step-guides-EAT .cdk-resposive-builder-an-extensive-library-of-widgets-and-apps-and-detailed-step-by-step-guides-EAT-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
}

.frame-yrf .auto-group-629m-mdR .off-5qH {
  width: 5rem;
  height: 2rem;
  position: absolute;
  left: 51rem;
  top: 123.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-99-1U3 {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 54.8rem;
  top: 129.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .building-responsive-3fd {
  width: 14.2rem;
  height: 2.4rem;
  position: absolute;
  left: 58.8rem;
  top: 129.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  text-transform: capitalize;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-89-uxj {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 54.8rem;
  top: 133.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .cool-dtj {
  width: 3.5rem;
  height: 2.4rem;
  position: absolute;
  left: 58.8rem;
  top: 133.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-89-wPd {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 54.8rem;
  top: 136.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .docs-faX {
  width: 3.9rem;
  height: 2.4rem;
  position: absolute;
  left: 58.8rem;
  top: 136.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .why-we-love-it-aBh {
  width: 11rem;
  height: 2.4rem;
  position: absolute;
  left: 50.6rem;
  top: 141.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .documentation-VpT {
  width: 10.9rem;
  height: 2.4rem;
  position: absolute;
  left: 53.8rem;
  top: 145rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  text-transform: capitalize;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .easy-use-xi3 {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 53.8rem;
  top: 147.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .out-of-box-t5u {
  width: 8.3rem;
  height: 2.4rem;
  position: absolute;
  left: 53.8rem;
  top: 150.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #4b5665;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .show-more-oif {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 47.7rem;
  top: 153.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b88f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .very-good-Wsy {
  width: 7rem;
  height: 2rem;
  position: absolute;
  left: 113.4rem;
  top: 121.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-E3H {
  width: 3.7rem;
  height: 2.4rem;
  position: absolute;
  left: 114.9rem;
  top: 152.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-91-Xo5 {
  width: 4.1rem;
  height: 4.8rem;
  position: absolute;
  left: 115.1rem;
  top: 115.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .download-2-JhM {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 31.5rem;
  top: 125.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .download-3-SYf {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 38.5rem;
  top: 177.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-xX1 {
  width: 33.3rem;
  height: 42.5rem;
  position: absolute;
  left: 64.4rem;
  top: 173.9rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-tvT {
  width: 6.9rem;
  height: 2.8rem;
  position: absolute;
  left: 66.4rem;
  top: 193.8rem;
  background-color: #f2f4f7;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-32f {
  width: 10.7rem;
  height: 2.8rem;
  position: absolute;
  left: 73.7rem;
  top: 193.8rem;
  background-color: #f2f4f7;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-CZm {
  width: 29.2rem;
  height: 4.8rem;
  position: absolute;
  left: 66.4rem;
  top: 209.6rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .off-wGT {
  width: 5rem;
  height: 2rem;
  position: absolute;
  left: 67.2rem;
  top: 194.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .limited-time-DDy {
  width: 8.6rem;
  height: 2rem;
  position: absolute;
  left: 74.5rem;
  top: 194.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .webbuilder-1-8rj {
  width: 10.2rem;
  height: 2.4rem;
  position: absolute;
  left: 73.1rem;
  top: 197.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-3996-1fd {
  width: 6.8rem;
  height: 2.8rem;
  position: absolute;
  left: 66.4rem;
  top: 205.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-4996-LC7 {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 74.5rem;
  top: 206.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #9fa9b3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .off-RUT {
  width: 5.9rem;
  height: 2rem;
  position: absolute;
  left: 80.5rem;
  top: 206.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #ef4c5d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-deal-vg7 {
  width: 7.6rem;
  height: 2.4rem;
  position: absolute;
  left: 77.25rem;
  top: 210.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .computer-modern-clasic-with-wix-support-dqR {
  width: 25.7rem;
  height: 4.8rem;
  position: absolute;
  left: 66.4rem;
  top: 200.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .download-4-hqH {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 74rem;
  top: 177.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Yb1 {
  width: 33.3rem;
  height: 42.5rem;
  position: absolute;
  left: 99rem;
  top: 172.9rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-43Z {
  width: 6.9rem;
  height: 2.8rem;
  position: absolute;
  left: 101rem;
  top: 192.8rem;
  background-color: #f2f4f7;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-Bts {
  width: 10.7rem;
  height: 2.8rem;
  position: absolute;
  left: 108.3rem;
  top: 192.8rem;
  background-color: #f2f4f7;
  border-radius: 0.8rem;
}
.frame-yrf .auto-group-629m-mdR .rectangle-83R {
  width: 29.2rem;
  height: 4.8rem;
  position: absolute;
  left: 101rem;
  top: 208.6rem;
  background-color: #1b88f4;
  border-radius: 1.2rem;
}
.frame-yrf .auto-group-629m-mdR .off-G9d {
  width: 5rem;
  height: 2rem;
  position: absolute;
  left: 101.8rem;
  top: 193.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .limited-time-n7y {
  width: 8.6rem;
  height: 2rem;
  position: absolute;
  left: 109.1rem;
  top: 193.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #074786;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .webbuilder-1-tgo {
  width: 10.2rem;
  height: 2.4rem;
  position: absolute;
  left: 107.7rem;
  top: 196.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-3996-xwZ {
  width: 6.8rem;
  height: 2.8rem;
  position: absolute;
  left: 101rem;
  top: 204.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #5c6874;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .item-4996-rn3 {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 109.1rem;
  top: 205.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #9fa9b3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .off-mu1 {
  width: 5.9rem;
  height: 2rem;
  position: absolute;
  left: 115.1rem;
  top: 205.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #ef4c5d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .view-deal-JP9 {
  width: 7.6rem;
  height: 2.4rem;
  position: absolute;
  left: 111.85rem;
  top: 209.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .computer-modern-clasic-with-wix-support-kkw {
  width: 25.7rem;
  height: 4.8rem;
  position: absolute;
  left: 101rem;
  top: 199.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
}
.frame-yrf .auto-group-629m-mdR .download-5-52X {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 108.6rem;
  top: 176.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .rectangle-ojD {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 25.1rem;
  top: 118rem;
  border: solid 0.1rem #e1e4e6;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 999.9rem;
}
.frame-yrf .auto-group-629m-mdR .item-4-h3u {
  width: 1.3rem;
  height: 2.8rem;
  position: absolute;
  left: 26.6rem;
  top: 118.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #626e79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .auto-group-629m-mdR .download-7-cAs {
  width: 14.1rem;
  height: 10.3rem;
  position: absolute;
  left: 31.3rem;
  top: 61.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-yrf .auto-group-629m-mdR .main-highlights-k2B {
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 51rem;
  top: 125.9rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c384a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-yrf .image-p23 {
  margin: 0rem 0rem 7.579rem 78.23rem;
  width: 0.8689rem;
  height: 0.8426rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-yrf .image-6kF {
  margin: 0rem 41.4rem 0rem 113.4rem;
  width: calc(100% - 154.8rem);
  height: 1.1rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
